<div class="container">
	<div class="row row1">
		<div class="col-md-6">
			<div>&nbsp;</div>
		</div>
		<div class="col-md-6 vcenter">
			<div>
				<form [formGroup]="myForm" (ngSubmit)="register2(myForm.value)" #f="ngForm" novalidate>
					<div class="row full-width">
						<div class="col-md-12">
							<md-form-field class="full-width">
								<input
									type="text" name="nickname" mdInput
									formControlName="username" placeholder="Scegli un nickname">
								<md-error *ngIf="myForm.controls['username'].hasError('required')">
      								Il nickname è obbligatorio!
    							</md-error>

							</md-form-field>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<md-form-field class="full-width">
								<input
									type="password" name="password" mdInput
									formControlName="password" placeholder="Password">
								<md-error *ngIf="myForm.controls['password'].hasError('required')">
      								La password è obbligatoria!
    							</md-error>
							</md-form-field>
						</div>
						<div class="col-md-6">
							<md-form-field class="full-width">
								<input
									type="password" name="ctrlPassword" mdInput
									formControlName="ctrlPassword" placeholder="Ripeti password">
								<md-error *ngIf="myForm.controls['ctrlPassword'].hasError('required')">
      								La password è obbligatoria!
    							</md-error>
								<md-error *ngIf="notMatchingPasswords">
      								Le password non corrispondono!
    							</md-error>
							</md-form-field>
						</div>
					</div>


					<div class="row">
						<div class="col-md-4">
							<md-form-field class="full-width">
								<input
									type="text" name="lastname" mdInput
									formControlName="lastname" placeholder="Cognome">
							</md-form-field>
						</div>
						<div class="col-md-4">
							<md-form-field class="full-width">
								<input
									type="text" name="firstname" mdInput
									formControlName="firstname" placeholder="Nome">
							</md-form-field>
						</div>
						<div class="col-md-4">
							<md-form-field class="full-width">
								<input
									type="text" name="gender" mdInput
									formControlName="gender" placeholder="Sesso" [mdAutocomplete]="autoGender">
									<md-autocomplete #autoGender="mdAutocomplete">
										<md-option value="M">Maschio</md-option>
										<md-option value="F">Femmina</md-option>
									</md-autocomplete>
							</md-form-field>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<md-form-field class="full-width">
								<input
									[mdDatepicker]="picker" name="dateofbirth" mdInput
									[formControl]="dobControl" placeholder="Data di nascita">
									<md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
									<md-datepicker #picker [startAt]="startDate"></md-datepicker>
							</md-form-field>
						</div>
						<div class="col-md-6">
							<md-form-field class="full-width">
								<input
									type="text" name="placeofbirth" mdInput
									[formControl]="pobControl" placeholder="Luogo di nascita"
									formControlName="placeofbirth" [mdAutocomplete]="autoPob">
									<md-autocomplete #autoPob="mdAutocomplete">
										<md-option *ngFor="let city of filteredCities | async" [value]="city">
											{{ city }}
										</md-option>
									</md-autocomplete>
							</md-form-field>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<md-form-field class="full-width">
								<input
									type="email" name="email" mdInput
									formControlName="email" placeholder="E-Mail">
								<md-error *ngIf="myForm.controls['email'].hasError('required')">
      								L'email è obbligatoria!
    							</md-error>
								<md-error *ngIf="myForm.controls['email'].hasError('pattern')">
      								Inserire una email valida!
    							</md-error>
							</md-form-field>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<button [disabled]="loading" md-raised-button>
								Registrati&nbsp;
                <md-icon svgIcon="account-plus"></md-icon>
							</button>
						</div>
					</div>
					<img *ngIf="loading"
						src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
				</form>
				Già registrato? Accedi da <a [routerLink]="['/login']"
					class="btn btn-link">qui</a>

			</div>
		</div>

	</div>
</div>
