<form #f="ngForm" (ngSubmit)="orderNow()">
  <md-grid-list cols="12" rowHeight="45px">
  <md-grid-tile colspan="4" rowspan="8">
    &nbsp;
  </md-grid-tile>
    <md-grid-tile colspan="8" rowspan="2">
      <h4>Seleziona il numero di diamanti che vuoi comprare, le provincei(max. 2) dove vuoi allocarli e il categorye
      che preferisci!</h4>
    </md-grid-tile>
  <md-grid-tile colspan="3" rowspan="2">
    <md-select placeholder="Scegli un prodotto" [(ngModel)]="selectedProduct" name="product" style="width: 100%">
      <md-option *ngFor="let product of products; let i = index" [value]="i">
        {{product.description}}
      </md-option>
    </md-select>
  </md-grid-tile>
  <md-grid-tile colspan="3" rowspan="2">
    &nbsp;
  </md-grid-tile>
  <md-grid-tile colspan="2" rowspan="2">
    <md-select placeholder="Partecipi come" [(ngModel)]="selectedCategories"
               name="category"
               multiple flex style="width: 100%">
      <md-option *ngFor="let category of categories; let i = index" [value]="i">
        {{category.description}}
      </md-option>
    </md-select>
  </md-grid-tile>
  <md-grid-tile colspan="8" rowspan="2">
    <md-select placeholder="Scegli le province (max. 2)" [(ngModel)]="selectedProvinces"
               maxlength="2" name="province"
               multiple flex style="width: 100%">
      <md-option *ngFor="let province of provinces; let i = index" [value]="i">
        {{province.description}}
      </md-option>
    </md-select>
  </md-grid-tile>
    <md-grid-tile colspan="2" rowspan="2">
      <button md-raised-button (click)="goBack($event)">Indietro <md-icon svgIcon="arrow-left"></md-icon></button>
    </md-grid-tile>
    <md-grid-tile colspan="2" rowspan="2">
      &nbsp;
    </md-grid-tile>
    <md-grid-tile colspan="2" rowspan="2">
      Importo totale: {{(selectedProduct?products[selectedProduct].price:0)}} €
    </md-grid-tile>
    <md-grid-tile colspan="2" rowspan="2">
      <button md-raised-button [disabled]="!(f.valid && (selectedProduct!=='') && (selectedProvinces!=='') && (selectedCategory!==''))">Ordina ora <md-icon svgIcon="cart-plus"></md-icon></button>
    </md-grid-tile>
</md-grid-list>
</form>
