<div class="container">
	<div class="row row1">
		<div class="col-md-6">
			<div>&nbsp;</div>
		</div>
		<div class="col-md-6 vcenter">
			<div class="row">
				<div class="col-md-12">Ti è stata inviata una email
					all'indirizzo specificato. Fai click sul link contenuto nella email
					per confermare la registrazione e poi accedi con le tue
					credenziali.</div>

			</div>
			<div class="row">
				<div class="col-md-12">
					<a [routerLink]="['/']" class="btn btn-link">Indietro</a>
				</div>
			</div>
		</div>

	</div>
</div>

