<div class="container">
  <div class="row row1">
    <div class="col-md-4">
      <div>&nbsp;</div>
    </div>
    <div class="col-md-2 vcenter">
      <div>
        <h4>Cosa vuoi fare?</h4>
        <br>
        <button md-raised-button>
          Riscatta codice&nbsp;
          <md-icon svgIcon="account-plus"></md-icon>
        </button>
        <br>
        <button md-raised-button>
          Compra diamanti&nbsp;
          <md-icon svgIcon="account-plus"></md-icon>
        </button>

      </div>
    </div>
    <div class="col-md-8 vcenter">
      <div>
        mappa
      </div>
    </div>

  </div>
</div>
