<md-grid-list cols="12" rowHeight="45px">
  <md-grid-tile colspan="4" rowspan="8">
    &nbsp;
  </md-grid-tile>
  <md-grid-tile colspan="8" rowspan="2">
    <h4>Cosa vuoi fare?</h4>
  </md-grid-tile>
  <md-grid-tile colspan="1" rowspan="2">
    &nbsp;
  </md-grid-tile>
  <md-grid-tile colspan="3" rowspan="2">
    <button style="width: 90%;height: 50px" md-raised-button color="primary" (click)="redeemCode()">
      Riscatta codice&nbsp;
      <md-icon svgIcon="barcode"></md-icon>
    </button>
  </md-grid-tile>
  <md-grid-tile colspan="3" rowspan="2">
    <button style="width: 90%;height: 50px" md-raised-button color="accent" (click)="buyDiamonds()">
      Compra diamanti&nbsp;
      <md-icon svgIcon="codepen"></md-icon>
    </button>
  </md-grid-tile>
  <md-grid-tile colspan="1" rowspan="2">
    &nbsp;
  </md-grid-tile>
  <md-grid-tile colspan="1" rowspan="2">
    &nbsp;
  </md-grid-tile>
  <md-grid-tile colspan="3" rowspan="2">
    <button style="width: 90%;height: 50px" md-raised-button color="warn" (click)="openOrdersList()">Stato ordini&nbsp;<md-icon svgIcon="format-list-checks"></md-icon></button>
  </md-grid-tile>
  <md-grid-tile colspan="3" rowspan="2">
  </md-grid-tile>
  <md-grid-tile colspan="1" rowspan="2">
    &nbsp;
  </md-grid-tile>
  <md-grid-tile colspan="2" rowspan="2">
    &nbsp;
  </md-grid-tile>
  <md-grid-tile colspan="2" rowspan="2">
    &nbsp;
  </md-grid-tile>
  <md-grid-tile colspan="2" rowspan="2">
    &nbsp;
  </md-grid-tile>
  <md-grid-tile colspan="2" rowspan="2">
    &nbsp;
  </md-grid-tile>
</md-grid-list>
