<md-grid-list cols="12" rowHeight="23px">
  <md-grid-tile colspan="4" rowspan="16">
    &nbsp;
  </md-grid-tile>
  <md-grid-tile colspan="8" rowspan="2">
    <h4>Seleziona il metodo di pagamento:</h4>
  </md-grid-tile>
  <md-grid-tile colspan="8" rowspan="2">
    <h5 style="color: purple">*** Attualmente il solo metodo di pagamento abilitato è Paypal! ***</h5>
  </md-grid-tile>
  <md-grid-tile colspan="8" rowspan="8">
    <md-radio-group class="example-radio-group" [(ngModel)]="favoritePayMethod" (change)="paymentClick($event)">
      <md-radio-button class="example-radio-button" *ngFor="let payMethod of payMethods" [value]="payMethod">
        {{payMethod}}
      </md-radio-button>
    </md-radio-group>
  </md-grid-tile>
  <md-grid-tile colspan="4" rowspan="2">
    <h5>Il metodo di pagamento selezionato è : {{favoritePayMethod}}</h5><br>
  </md-grid-tile>
  <md-grid-tile colspan="4" rowspan="2">
    <h4>Importo : {{order.totalAmount}} €</h4><br>
  </md-grid-tile>
  <md-grid-tile colspan="2" rowspan="2">
    <button md-raised-button (click)="goBack()">Indietro <md-icon svgIcon="arrow-left"></md-icon></button>
  </md-grid-tile>
  <md-grid-tile colspan="2" rowspan="2">
    &nbsp;
  </md-grid-tile>
  <md-grid-tile colspan="2" rowspan="2">
    &nbsp;
  </md-grid-tile>
  <md-grid-tile colspan="2" rowspan="2">
    <button md-raised-button [disabled]="paymentDisabled" (click)="payNow()">Paga ora
      <md-icon svgIcon="coin"></md-icon>
    </button>
  </md-grid-tile>
</md-grid-list>
