<md-grid-list cols="12" rowHeight="45px">
  <md-grid-tile colspan="4" rowspan="8">
    &nbsp;
  </md-grid-tile>
  <md-grid-tile colspan="8" rowspan="2">
    <h3>BENVENUTO!</h3>
  </md-grid-tile>
  <md-grid-tile colspan="8" rowspan="4">
    <h4>Per poter partecipare al gioco devi iscriverti.<br><br>Il costo dell'iscrizione è di soli 5€!<br><br>
      Iscrviti con il pulsante qui sotto per iniziare a giocare con noi!</h4>
  </md-grid-tile>
  <md-grid-tile colspan="2" rowspan="2">
    &nbsp;
  </md-grid-tile>
  <md-grid-tile colspan="4" rowspan="2">
    <button style="width: 90%;height: 50px" md-raised-button (click)="subscribeMe()"
            color="primary">Iscriviti!&nbsp;<md-icon svgIcon="pencil"></md-icon></button>
  </md-grid-tile>
  <md-grid-tile colspan="2" rowspan="2">
    &nbsp;
  </md-grid-tile>
</md-grid-list>
