<header>
  <md-toolbar>
    <span>L&nbsp;<span class="glyphicon glyphicon-heart" aria-hidden="true"></span>&nbsp;ve Challenge</span>
    <span class="example-spacer"></span>{{username}}
    <button *ngIf="username" md-button (click)="logout()">
      Esci
      <md-icon svgIcon="exit-to-app"></md-icon>
    </button>

  </md-toolbar>
</header>

<!-- main app container -->
<section class="bgimg">
    <div class="container">
        <div class="col-sm-12">
            <app-alert></app-alert>
            <router-outlet></router-outlet>
        </div>
    </div>
</section>

<footer class="complete_footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h4><a href="">Informazioni</a></h4>
            </div>
            <div class="col-md-4">
                <h4><a href="">Termini &amp; Condizioni</a></h4>
            </div>
            <div class="col-md-4">
                <h4><a href="">Contatti</a></h4>
            </div>
        </div>
    </div>
</footer>
