<header>
  <md-toolbar>
    <span>L&nbsp;<span class="glyphicon glyphicon-heart" aria-hidden="true"></span>&nbsp;ve Challenge</span>
    <span class="example-spacer"></span>{{(currentCustomer?currentCustomer.username:'')}}
    <button *ngIf="currentCustomer" md-button (click)="logout()">
      Esci
      <md-icon svgIcon="exit-to-app"></md-icon>
    </button>

  </md-toolbar>
</header>

<!-- main app container -->
<section class="bgimg">
    <div class="container">
        <div class="col-sm-12">
            <app-alert></app-alert>
            <router-outlet></router-outlet>
        </div>
    </div>
</section>

<footer class="complete_footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h4>Altri link</h4>
                <ul class="footermenu usefullinks">
                    <li><a href="">Login</a></li>
                    <li><a href="">Cosa dicono di noi</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4>Supporto</h4>
                <ul class="footermenu support">
                    <li><a href="">Aiuto</a></li>
                    <li><a href="">Per la tua sicurezza</a></li>
                    <li><a href="">Termini &amp; Condizioni</a></li>
                    <li><a href="">Contatti</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4>Nel mondo</h4>
                <ul class="footermenu">
                    <li><a href="">Italy</a></li>
                    <li><a href="">Germany</a></li>
                    <li><a href="">Spain</a></li>
                    <li><a href="">France</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
