md-toolbar {
    color: white;
    background-color: #d84579;
  }

  .bgimg {
    background-image: url('../assets/images/bkg2.jpg');
    background-size: cover;
    height: 400px;
}

.complete_footer {
    clear: both;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #F1EFEB;
    background: #d84579;
    overflow: hidden
  }

  .complete_footer a {
    color: #050505
  }
  .complete_footer h4 {
    margin-bottom: 30px;
    color: #fff
  }

  .complete_footer li a {
    opacity: 0.6
  }

  .complete_footer li a:hover {
    text-decoration: underline;
    opacity: 0.8
  }

  .complete_footer li {
    margin-bottom: 8px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 5px
  }

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.container {
  display: table;
  vertical-align: middle;
}
.row {
  display: table-row;
  vertical-align: middle;
}

.vcenter {
  display: table-cell;
  vertical-align: middle;
  float: none;
}

.row1 {
  height:400px;
}
.row2 {
  height: 50px;
}
.special { height:400px; display:table;width:100%;}
.v-m {display:table-cell;vertical-align:middle;width:50%}

form {
  margin-top: 2em;
}

.full-width {
  width: 100%;
}
.party {
  animation: party 5000ms infinite;
}

@keyframes party {
  0% { background: #00f; }
  10% { background: #8e44ad; }
  20% { background: #1abc9c; }
  30% { background: #d35400; }
  40% { background: #00f; }
  50% { background: #34495e; }
  60% { background: #00f; }
  70% { background: #2980b9; }
  80% { background: #f1c40f; }
  90% { background: #2980b9; }
  100% { background: #0ff; }
}

::ng-deep snack-bar-container.snackbar-class {
  background: #0fd934;
}

::ng-deep .snackbar-class .mat-simple-snackbar {
  color: #000000;
}
