Options +FollowSymlinks

RewriteEngine on

RewriteRule ^server/api/v1/(.*)$ server/api.php?url=$1 [QSA,NC,L]

#RewriteRule ^(.*)$ $1 [R=200,L,E=HTTP_ORIGIN:%{HTTP:ORIGIN}]]

#Header always set Access-Control-Allow-Origin "*"
#Header always set Access-Control-Allow-Credentials "true"
#Header always set Access-Control-Max-Age "1000"
#Header always set Access-Control-Allow-Headers "X-Requested-With, Content-Type, Origin, Authorization, Accept, Client-Security-Token, Accept-Encoding"
#Header always set Access-Control-Allow-Methods "POST, GET, OPTIONS, DELETE, PUT"




